.producto {
  display: inline-block;
  background: #dddddd;
  text-align: center;
  width: 50%;
  margin: 7em 25% 0px 25%;
  height: 37em;
  padding: 2em;
  padding-bottom: 0em;
  list-style: none;
  color: #30475e;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.titulo {
  font-size: 3em;
  color: #30475e;
  font-weight: bold;
}
.descripcion {
  font-size: larger;
  margin: 0.5em 0em;
}
.imagen {
  font-size: 10em;
}
.precio {
  font-weight: bold;
  font-size: xx-large;
}

@media screen and (max-width: 960px) {
  .producto {
    display: inline-block;
    text-align: center;
    margin: 2em 0% 0px 0%;
    width: 100%;
    padding: 2em;
    height: 40em;
  }
  .imagen {
    font-size: 8em;
  }
}
